<p>
  <b>Name:</b>
  <%=h @blog.name %>
</p>

<p>
  <b>Uri:</b>
  <%=h @blog.uri %>
</p>

<p>
  <b>Type:</b>
  <%=h @blog.type %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
